@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Cormorant Garamond", "sans-serif" !important;
  background-color: #f1f0eb !important;
  padding: 0 0 !important;
  margin: 0 0 !important;
  box-sizing: border-box !important;
}

.nav {
  background-color: #f1f0eb;
}

.contenedor-boton-carrito {
  display: scroll;
  position: fixed;
  bottom: 320px;
  right: 100px;
  background-color: #fc819e;
  width: 40px;
  height: 40px;
  z-index: 100;
}

.contenedor-boton-carrito {
  background-color: #fc819e;
}

.nav-collapse li {
  border-radius: 1rem;
}

.avatar:hover {
  opacity: 0.9;
}

.nav-collapse li a:hover {
  color: gray !important;
}

.inicia-sesion {
  font-size: 1.5rem !important;
  font-weight: 900 !important;
}

.inicia-sesion:hover {
  background-color: #fc819e !important;
}
